* {
    background-color:  #F7F2E0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header-list {
    float: right;
    padding-right: 50px
}

.header-list li {
    list-style: none;
    float: left;
    padding: 30px 15px;
    color: black;
}

.clear {
    clear: both;
}

.logo {
    float: center;
}

.title {
    float: center;
    font-size: 70px;
    font-weight: bold;
}

.icon {
        border-radius: 50%; 
        width:  200px;  
        height: 200px;
        float: left;
}

h2 {
    font-size: 25px;
    float: left;
    padding-left: 45px;
}

.fa-twitter {
    color: black;
    padding-left: 70px;
    padding-top: 25px;
    float: left;
}

.fa-pen-fancy {
    color: black;
    padding-left: 10px;
    padding-top: 25px;
}

.profile  {
    padding: 15px  0 0 250px;
}

footer p {
    float: right;
    font-size: 15px;
    padding: 0 50px 0 0 ;
}

